.hero__wrapper {
    display: flex;
    gap: 100px;
    justify-content: center;


    @media (max-width: 1000px) {
      flex-direction: column;
    }


    img {
        aspect-ratio: 3/4;
        object-fit: cover;
        max-width: 200px;
    }
}

.hero__box {

    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;


    h1 {
        text-transform: uppercase;
        color: black;
        font-size: 36px;
    }

    p {
        color: black;
        font-size: 22px;
    }

    button {
        color: white;
        background: black;
        border: none;
        border-radius: 15px;
        padding: 10px 20px;
        width: 200px;
    }
}